src/Feature Flow Assignment 2/flows/ContactHandler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Inserted_or_Updated</name>
        <label>Inserted or Updated</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AfterInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Rollup_of_ActiveContact_for_Insert</targetReference>
            </connector>
            <label>inserted</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AfterUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Rollup_of_ActiveContact_for_Update</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ContactHandler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactHandler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewRecord.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Contacts__c</field>
            <value>
                <elementReference>countcontact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Extra_Expense__c</field>
            <value>
                <elementReference>TotalExtraExpenses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Food_Expense__c</field>
            <value>
                <elementReference>TotalFoodExpenses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Petrol_Expense__c</field>
            <value>
                <elementReference>TotalPetrolExpenses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Rent_Expense__c</field>
            <value>
                <elementReference>TotalRentExpenses</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Account</name>
        <label>Update Existing Account</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Existing_Account_after_updates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewRecord.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Contacts__c</field>
            <value>
                <elementReference>countcontact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Extra_Expense__c</field>
            <value>
                <elementReference>TotalExtraExpenses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Food_Expense__c</field>
            <value>
                <elementReference>TotalFoodExpenses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Petrol_Expense__c</field>
            <value>
                <elementReference>TotalPetrolExpenses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Rent_Expense__c</field>
            <value>
                <elementReference>TotalRentExpenses</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Account_after_updates</name>
        <label>Update Existing Account after updates</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOldRecord.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Contacts__c</field>
            <value>
                <elementReference>CountContactForExistingAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Extra_Expense__c</field>
            <value>
                <elementReference>updatedTotalExtraExpenses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Food_Expense__c</field>
            <value>
                <elementReference>updatedTotalFoodExpenses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Petrol_Expense__c</field>
            <value>
                <elementReference>updatedTotalPetrolExpenses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Rent_Expense__c</field>
            <value>
                <elementReference>updatedTotalRentExpenses</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inserted_or_Updated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Rollup_of_ActiveContact_for_Insert</name>
        <label>Subflow: Rollup of ActiveContact(for Insert)</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Subflow_Rollup_Of_Expenses_Related_to_Contacts_Flow_for_Insert</targetReference>
        </connector>
        <flowName>Rollup_of_Active_Contact</flowName>
        <inputAssignments>
            <name>AfterInsert</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AfterUpdate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarNewRecord</name>
            <value>
                <elementReference>varNewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOldRecord</name>
            <value>
                <elementReference>varOldRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>countcontact</assignToReference>
            <name>ContactCount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Rollup_of_ActiveContact_for_Update</name>
        <label>Subflow: Rollup of ActiveContact(for Update)</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Subflow_Rollup_Of_Expenses_Related_to_Contacts_Flow_For_Update</targetReference>
        </connector>
        <flowName>Rollup_of_Active_Contact</flowName>
        <inputAssignments>
            <name>AfterInsert</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AfterUpdate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarNewRecord</name>
            <value>
                <elementReference>varNewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOldRecord</name>
            <value>
                <elementReference>varOldRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>countcontact</assignToReference>
            <name>ContactCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CountContactForExistingAccount</assignToReference>
            <name>contactCountForExistingAccount</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Rollup_Of_Expenses_Related_to_Contacts_Flow_for_Insert</name>
        <label>Subflow : Rollup Of Expenses Related to Contacts Flow(for Insert)</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Accounts</targetReference>
        </connector>
        <flowName>Rollup_Of_Expenses_Related_to_Contacts</flowName>
        <inputAssignments>
            <name>AfterInsert</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AfterUpdate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarNewRecord</name>
            <value>
                <elementReference>varNewRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TotalExtraExpenses</assignToReference>
            <name>totalExtraExpenses</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalFoodExpenses</assignToReference>
            <name>totalFoodExpenses</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalPetrolExpenses</assignToReference>
            <name>totalPetrolExpenses</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalRentExpenses</assignToReference>
            <name>totalRentExpenses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Rollup_Of_Expenses_Related_to_Contacts_Flow_For_Update</name>
        <label>Subflow : Rollup Of Expenses Related to Contacts Flow(For Update)</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Existing_Account</targetReference>
        </connector>
        <flowName>Rollup_Of_Expenses_Related_to_Contacts</flowName>
        <inputAssignments>
            <name>AfterInsert</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AfterUpdate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarNewRecord</name>
            <value>
                <elementReference>varNewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarOldRecord</name>
            <value>
                <elementReference>varOldRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TotalExtraExpenses</assignToReference>
            <name>totalExtraExpenses</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalFoodExpenses</assignToReference>
            <name>totalFoodExpenses</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalPetrolExpenses</assignToReference>
            <name>totalPetrolExpenses</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalRentExpenses</assignToReference>
            <name>totalRentExpenses</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>updatedTotalExtraExpenses</assignToReference>
            <name>updatedTotalExtraExpenses</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>updatedTotalFoodExpenses</assignToReference>
            <name>updatedTotalFoodExepnses</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>updatedTotalPetrolExpenses</assignToReference>
            <name>updatedTotalPetrolExpenses</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>updatedTotalRentExpenses</assignToReference>
            <name>updatedTotalRentExpenses</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AfterInsert</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AfterUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countcontact</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountContactForExistingAccount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalExtraExpenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalFoodExpenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalPetrolExpenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalRentExpenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>updatedTotalExtraExpenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>updatedTotalFoodExpenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>updatedTotalPetrolExpenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>updatedTotalRentExpenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varOldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
