src/Feature Flow Assignment 2/flows/Rollup_Of_Expenses_Related_to_Contacts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Calculation_Of_All_Existing_Expenses_after_update</name>
        <label>Calculation_Of_All_Existing_Expenses after update</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>totalExtraExpenses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Loop_through_Existing_Contact_Records.Extra_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalFoodExpenses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Loop_through_Existing_Contact_Records.Food_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalPetrolExpenses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Loop_through_Existing_Contact_Records.Petrol_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalRentExpenses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Loop_through_Existing_Contact_Records.Rent_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Loop_through_Existing_Contact_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculation_Of_All_Expenses</name>
        <label>Calculation Of All Expenses</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>totalPetrolExpenses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contact_Records.Petrol_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalRentExpenses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contact_Records.Rent_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalFoodExpenses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contact_Records.Food_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalExtraExpenses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contact_Records.Extra_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contact_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>calculation_of_all_expenses_for_old_values</name>
        <label>calculation of all expenses for old values</label>
        <locationX>754</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>updatedTotalExtraExpenses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_old_records.Extra_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedTotalFoodExepnses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_old_records.Food_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedTotalRentExpenses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_old_records.Rent_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedTotalPetrolExpenses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_old_records.Petrol_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_old_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Calculation_Of_All_Expenses</name>
        <label>Calculation Of All Expenses</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>totalPetrolExpenses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_through_Contact_Records.Petrol_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalRentExpenses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_through_Contact_Records.Rent_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalFoodExpenses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_through_Contact_Records.Food_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalExtraExpenses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_through_Contact_Records.Extra_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_through_Contact_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Inserted_or_Updated</name>
        <label>Inserted or Updated ?</label>
        <locationX>864</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AfterInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_AccountId_Populated_On_Contact</targetReference>
            </connector>
            <label>Inserted</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AfterUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_AccountId_Populated_On_Contacts_and_does_accountId_Changes</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_AccountId_Populated_On_Contact</name>
        <label>Is AccountId Populated On Contact</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarNewRecord.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_related_accounts_of_contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_AccountId_Populated_On_Contacts_and_does_accountId_Changes</name>
        <label>Is AccountId Populated On Contacts and does accountId Changes?</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updates</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarNewRecord.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>VarOldRecord.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_accounts_of_contacts_after_updation</targetReference>
            </connector>
            <label>Updates</label>
        </rules>
        <rules>
            <name>field_value_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarNewRecord.Petrol_Expense__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>VarOldRecord.Petrol_Expense__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarNewRecord.Extra_Expense__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>VarOldRecord.Extra_Expense__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarNewRecord.Rent_Expense__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>VarOldRecord.Rent_Expense__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarNewRecord.Food_Expense__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>VarOldRecord.Food_Expense__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_get_related_accounts_of_contacts</targetReference>
            </connector>
            <label>field value Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Rollup Of Expenses Related to Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollup Of Expenses Related to Contacts</label>
    <loops>
        <name>Copy_1_of_Loop_through_Contact_Records</name>
        <label>Loop through Contact Records</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <collectionReference>Copy_1_of_get_related_accounts_of_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Calculation_Of_All_Expenses</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_Contact_Records</name>
        <label>Loop through Contact Records</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>getAccountRelatedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculation_Of_All_Expenses</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loop_through_old_records</name>
        <label>loop through old records</label>
        <locationX>666</locationX>
        <locationY>866</locationY>
        <collectionReference>updatedgetRelatedAccountContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>calculation_of_all_expenses_for_old_values</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Updated_Loop_through_Existing_Contact_Records</name>
        <label>updated Loop through Existing Contact Records</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <collectionReference>updatedgetRelatedAccountContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculation_Of_All_Existing_Expenses_after_update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_related_accounts_of_contacts_after</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_get_related_accounts_of_contacts</name>
        <label>Related accounts of contacts</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_through_Contact_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarNewRecord.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_related_accounts_of_contacts</name>
        <label>get related accounts of contacts</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Contact_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarNewRecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>getAccountRelatedContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Petrol_Expense__c</queriedFields>
        <queriedFields>Rent_Expense__c</queriedFields>
        <queriedFields>Food_Expense__c</queriedFields>
        <queriedFields>Extra_Expense__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_related_accounts_of_contacts_after</name>
        <label>get related accounts of contacts after</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_old_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOldRecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Afterchangeaccountrelatedcontacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Petrol_Expense__c</queriedFields>
        <queriedFields>Rent_Expense__c</queriedFields>
        <queriedFields>Extra_Expense__c</queriedFields>
        <queriedFields>Food_Expense__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_accounts_of_contacts_after_updation</name>
        <label>Get Related accounts of contacts after updation</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updated_Loop_through_Existing_Contact_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarNewRecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>updatedgetRelatedAccountContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Extra_Expense__c</queriedFields>
        <queriedFields>Petrol_Expense__c</queriedFields>
        <queriedFields>Food_Expense__c</queriedFields>
        <queriedFields>Rent_Expense__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inserted_or_Updated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Afterchangeaccountrelatedcontacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>AfterInsert</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AfterUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getAccountRelatedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>totalExtraExpenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalFoodExpenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalPetrolExpenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totalRentExpenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>updatedgetRelatedAccountContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>updatedTotalExtraExpenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>updatedTotalFoodExepnses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>updatedTotalPetrolExpenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>updatedTotalRentExpenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarNewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>VarOldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
