src/Flow Assignment 1/flows/Record_Triggered_Contact_Before_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Other_Phone_No_On_Contact</name>
        <label>Set Other Phone No On Contact</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OtherPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Details.Phone</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Other_Phone_no_On_Contacts</name>
        <label>Set Other Phone no On Contacts</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OtherPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Detail.Phone</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_Id_is_updated</name>
        <label>Account Id is updated</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Other_Phone_no_On_Contacts</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inserted_Or_Updated</name>
        <label>Inserted Or Updated ?</label>
        <locationX>644</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Details</targetReference>
            </connector>
            <label>Inserted</label>
        </rules>
        <rules>
            <name>IsUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Detail</targetReference>
            </connector>
            <label>IsUpdated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Other_PhoneNo_On_Account_is_Empty</name>
        <label>Is Other PhoneNo On Account is Empty?</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Details.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Other_Phone_No_On_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>whenever contact is inserted or updated copy its associated account phone field to contact phone field</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Record Triggered : Contact Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered : Contact - Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Detail</name>
        <label>Get Account Detail</label>
        <locationX>710</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Id_is_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>To Retrieve Account Object Records</description>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Other_PhoneNo_On_Account_is_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inserted_Or_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
